# Ignore vitrual env dir
venv/

# Ignore Python cache dir
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.ini

# Ignore environment variables
.env
.ropeproject

# Tmux related
*.log

# Output test files
*.dxf


